.letter_tile {
    display: inline-block;
    width: 50px;
    height: 60px;
    border: 3px solid black;
	color: rgb(0, 194, 141);
    background-color: rgb(0, 194, 141);
    margin: 1px 1px 0px 0px;
    vertical-align: middle;
}
.letter_tile.active {
    line-height: 60px;
	color: black;
    font-size: 50px;
    background-color:white;
}
.letter_tile.right {
    margin-right: 0px;
}
.letter_tile.top {
    margin-top: 0px;
}
.board_row {
    display: block;
}
#game_board {
	position:absolute;
	top:50%;
	margin-top:-140px;
    text-align: center;
    font-family: arial;
    font-weight:bold;
    width:100%;
}
#category {
	margin-top: 20px;
	font-size: 20px;
	color: white;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}
#edit {
	float: right;
	text-decoration: none;
	font-size: 20px;
	padding: 10px;
	color: white;
	font-family: arial;
}
html, body {
	padding: 0px;
	margin: 0px;
	cursor: default;
	height: 100%;
	background-color: rgb(0,121,254);
}